[Unit]
Description=Teletext Capture Client (%i)
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/teletext_capture_client.py /etc/teletext_ng/%i.conf
Restart=always
RestartSec=10

KillMode=control-group
KillSignal=SIGTERM
TimeoutStopSec=10s
SendSIGKILL=yes

[Install]
WantedBy=multi-user.target
